 .u-section-1 {
  background-image: url("images/lizandanne.png");
  background-position: 50% 18.35%;
}

.u-section-1 .u-sheet-1 {
  min-height: 641px;
}

.u-section-1 .u-group-1 {
  width: 617px;
  min-height: 248px;
  height: auto;
  background-image: none;
  margin: 321px 17px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 52px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: -1px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 100% 18.35%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 100% 69.29%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-group-1 {
    width: 463px;
    min-height: 162px;
    margin: 326px auto 41px -23px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-right: 248px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 20px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-1 .u-group-1 {
    width: 374px;
    min-height: 127px;
    margin: 167px -17px 39px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 27px;
    margin-right: 73px;
    margin-left: -73px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-right: 7px;
    margin-left: -7px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 17px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 527px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1171px;
  margin: 12px -47px 12px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 503px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px 30px 30px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  line-height: 2;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px 0 0;
  padding: 8px 33px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 503px;
}

.u-section-2 .u-container-layout-2 {
  padding: 24px 30px 8px;
}

.u-section-2 .u-image-1 {
  width: 416px;
  height: 416px;
  background-image: url("images/IMG_20220507_141628.jpg");
  background-position: 50% 50%;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.25s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 20px auto 0 37px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-2 .u-image-1 {
    width: 410px;
    height: 410px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 464px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 277px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 331px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: 7px;
    margin-left: 13px;
  }

  .u-section-2 .u-btn-1 {
    padding-right: 132px;
    padding-left: 131px;
    margin: 12px auto -293px 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 109px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-image-1 {
    width: 291px;
    height: 291px;
    margin-top: -425px;
    margin-left: 10px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-1 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-1 {
  border-color: transparent !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 580px;
}

.u-section-3 .u-image-1 {
  width: 395px;
  height: 395px;
  background-image: url("images/c5f61387fe38c27537e8c956aeed9fa8607ee6156b50da8d1941c5781a5acde5f68e312649fe4e2687631fe2a50c23443dbc8bd7929140d2a27f94_1280.jpg");
  background-position: 50% 50%;
  transition-duration: 0.75s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 132px auto 0 118px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: -370px 17px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  line-height: 2;
  margin: 17px 0 0 660px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 17px 0 60px auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 460px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-left: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-1 {
  border-color: transparent !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 664px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 531px;
  margin: 65px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 30px 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 390px;
  grid-gap: 30px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/01.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  background-image: url("images/011.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-image-3 {
  background-image: url("images/012.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-image-4 {
  background-image: url("images/p1020657.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-image-5 {
  background-image: url("images/IMG_20220507_141308.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-image-6 {
  background-image: url("images/117018923-0.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 60px -2px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 323px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 577px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 517px;
}

.u-section-5 .u-image-1 {
  width: 395px;
  height: 395px;
  background-image: url("images/lorneville.jpg");
  background-position: 50% 50%;
  margin: 69px auto 0 118px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  margin: -370px 96px 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  line-height: 2;
  margin: 20px 90px 0 570px;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 17px 90px 60px auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 460px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-left: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 34px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 6px;
    margin-left: 0;
  }
} .u-section-6 {
  background-image: url("images/94b8888097386bfbaecd77c998bfc370634097fde09ce5e431b7a44556312cb3a9a93bbff648487ac109daccd7157838f544a84035dbb62aaa873e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 680px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1171px;
  margin: 12px -47px 0 auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 668px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px 30px 30px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  line-height: 2;
  margin: 30px 0 0;
}

.u-section-6 .u-form-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 668px;
}

.u-section-6 .u-container-layout-2 {
  padding: 24px 30px 8px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: 30px;
    margin-left: 60px;
  }

  .u-section-6 .u-form-1 {
    height: 251px;
    margin-top: 19px;
    margin-right: 0;
    margin-left: 60px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 536px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-6 .u-text-1 {
    margin-left: -13px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
    margin-right: 73px;
    margin-left: -13px;
  }

  .u-section-6 .u-form-1 {
    margin-top: 12px;
    margin-right: 73px;
    margin-left: -13px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 411px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 573px;
    margin-right: -33px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 398px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 207px;
    margin-left: -21px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-6 .u-form-1 {
    margin: 0 81px -207px -21px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 208px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 367px;
    margin-right: -27px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 137px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-form-1 {
    margin-right: 12px;
    margin-bottom: -12px;
    margin-left: -12px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 117px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}